h2{
    align-items: left;
  }
  
  h3{
    padding-top: 60px;
  }
  
  address{
    margin: auto;
    padding: 15px;
  }
  
  img{
    display: flex;
    justify-content: center;
    margin: auto;
    border: 20px solid blueviolet;
  }